services:
  web:
    build:
      context: .
      dockerfile: main/Dockerfile
    ports:
      - "3000:3000"
 
  db:
    image: mysql:8.0.44-debian
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: apppass
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    depends_on:
      - redis
      - db
    environment:
    


    restart: always

volumes:
  db_data:
    driver: local
