services:
  web:
    build:
      context: .
      dockerfile: main/Dockerfile
    ports:
      - "3000:3000"
 
  db:
    image: mysql:8.0.44-debian
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: apppass
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    depends_on:
      - redis
      - db
    environment:
      REDIS_HOST: redis
      DB_HOST: db
      DB_USER: app_user
      DB_PASSWORD: apppass
      DB_NAME: app_db
      FIREBASE_PROJECT_ID: li-au-ap
      FIREBASE_CLIENT_EMAIL: firebase-adminsdk-fbsvc@li-au-ap.iam.gserviceaccount.com
      FIREBASE_CLIENT_ID: 109441188312179112679
      FIREBASE_PRIVATE_KEY: "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDy9cR+qkUeEK6t\n5F+Z5MzOI6rL+LIiGAypd8nxhOflRtD/HqwlUevy92LsVq75I2LNxZWQGDbifsvc\nXyDsprUSR2tzpyFtSDXIXzexgFZOWLZTGAEuRLcInG7ayHfvdFp3+zKGDEs0DpMK\nwowwL/OQoQGisiBCoyQzEfadpFMBtWUo9HC/KBqjmUCAqvg7TIO45oz/8IQCOBlm\nVP3g7BoIUtBlEGfIAVJuWvJ150F36ba9ntJJOTMGCPc3O8AZlu5uDazpA5oOxtie\ne5VwYi4CTZusg7XhjBZztYDrETw6NfYTsEJc96SUoJnQNz/Qk2enkGgWAqkkqaHK\nlQe2tvJlAgMBAAECggEAb0ag+GKDxYFef8ZZAuMH6mHrmAAPlg3tvrBejX+RtjD5\nB9/EeFNM/brQU+5ftTu/xP75wUVV3ea09/mZ2sl/pR+Q1yd059hqyZrSpzlgTgHT\nf7s+zzIpoogDPbETPVjNFqa2PS7kQrNqJUN1cZyEsXkMhreOjvapXbqceRcJ7X2C\nlTRA2VYEhNx6wzf80IVdearLDBypkaoXT9CwNUXBY8QSUepuTo54yoQWUmrcntGW\nSFXNdoEml96PB2zJXRpXD7dIetLJMMiGRu+c4pp+AWl53i/kv5Np/DrSYWXo9bmJ\n6hsv5/6VLG/amUP7nQDFcOmff1IZn3FovvqziWmvAQKBgQD/JfrdWqAPb3esNkdO\nKQ4CX74KsOv4WkoRSgoAXQcKVk3BixWuy7JYqe2t3kFx872YFkrlAKGOJtrLI9+4\nKIeDV0kIyXA0/DuVwtFKfv3kjdN982T0zXWl5g8nqL4jipJAH98TFk/Mk63K4+Ms\nvAlLhwTdgY1JnrP8lHHNpgvtPwKBgQDzxV91zSNaqtfkzgzgCX35/NcjaOEnXypF\nS/xjiXBUqckZlK9k/FYCSaOSdLQlrUMjWFm+yDHehIbQDNhXASGINKrHuLmRzRIp\nElXtctRzyu3f+kPYsM+r6qzGL9TrJT9HY2X6TVrnd1p1U8cRtQxFu7VuZIwV9Tef\nVyG0THYjWwKBgARFVXqpDq7TddRbIDxtsX9WrO6u4XRJxp2deKdi50BEC48mzdkc\nLcMQLRtQ8hV/N/g4v04wAYRIoDbwRclmXEZVirJr9MXeRv0NwsUVdRiDSzv7fAAh\nBEwfmrdWOsCLjEEoh2phYDqTakBQKjhQeXNbMjim9394+ZhLv8/qbJ6vAoGAEazu\nDwyg06IvpVeLd3M4vzemIdso+EHePsgTtOPyUTE+c6xkS15AnknYonXz2geGJrnx\nR/QcKZZScCN+TFC4rbej6ndqfTfxaSj7MgxxezPrq6Hp6Xxokn6hqH0vYx2ASRzb\n+BpDzSTKWleIx6/pA+Vocmi3/5+YOOWIfBpPNqECgYEArWou/eUalpBUH65JGUsT\nKC1rdG/TKelwPy9veuy6I8MUWWnjEz6pmiEpCuI2v5ygK6K2TF9Uhi8WCdYvLjCL\n78hryqUOVO2E8Ev05YBicI7QKGIprh47RCJJYukfxmqXgKUXoqIlmqww4Pr4JgMv\nBJjNEnw2+ifOhIo5c0gVQFI=\n-----END PRIVATE KEY-----\n"
      FIREBASE_PRIVATE_KEY_ID: "51fc06d4d7875fcd8b431a2e61057b47e074a2ae"
      OPENAI_API_KEY: AIzaSyAkI4nsX4ZzjESURPRxGVRszcVfz4m1kiQ

    restart: always

volumes:
  db_data:
    driver: local
